<div class="container-fluid footer">
    <div class="row ">
        <div class="col-lg-6">
            <!--name-->

            <h1>My wallet</h1>

            <h2>Easily transfer money with friends and
                <br> 
                family</h2>

        </div>
        <div class="col-sm-6 footer">
            
            <!--button-->
            <button type="button" class="btn btn-success"><a routerLink="register"routerLinkActive="active-link">register</a></button> 
            <br>
            <br>
            <p>laurette@2022</p>
            <p> Contact us   FAQ   Cookie policy   Terms of use </p>          
        </div>
    </div>
</div>
