
<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <p>
        A wallet app is a very convenient  in today’s digital age with many banks offering impressive apps. 
        The ability to deposit a check, to pay for merchandise, 
        to transfer money to a friend or to find an ATM instantly are reasons why people choose to use web app.
         However, establishing a secure connection before logging into a wallet app is important or else a client might risk personal information being compromised.
        <br/>
        wallet app is like a web Banking service that provides you a safe and convenient way to do your banking using your mobile telephone or computer.
         With Mobile Banking, you can monitor all your bank accounts in real time, view your account balances, get mini statement, transfer funds, 
         pay bills, buy utilities, request checkbook, view exchange rates, get SMS and email notifications about any movement on your account and more.
    


    </p>
</div>