
<!-- container -->
<div class="container-fluid d-flex">
    <div class = " text-center; col-sm-6" style="background-color: #1f2041">
      <img src ="assets/img/icon.png" class=" img col-sm-2 h-20">
    </div>
    <div class="col-sm-6 bg-#F6ECEC">
      <!-- form -->
      <form id="form" action="" method="" >
        <!-- form heading -->
        <h3>sign in</h3><br>
        <!-- form inputs -->
        <fieldset>
            <label for="email">Email address:</label>
            <br>
            <input type="email"name="email" id="email" required>
        </fieldset>
        <br>
        <fieldset>
            <label  for="password">Password:</label>
            <br>
            <input type="password" name="password" id="password" required>
        </fieldset>
        <br>
        <fieldset>
          <button name="submit" type="sign in" id="sign in">Sign in</button>
        </fieldset>
        <br>
        <!-- attribution -->
        <a class="register" routerLink="/register" routerLinkActive="active-link">Don't have an account yet? </a>
      </form>
    </div>
</div>
 

