
<!-- container -->
<div class="container-fluid d-flex">
    <div class = "col-sm-6">
      <img src ="assets/img/wallet_im.png" class="col-sm-12 h-100">
    </div>
    <div class="col-sm-6 bg-primary">
      <!-- form -->
      <form id="form" action="" method="" >
        <!-- form heading -->
        <h3>sign in</h3>
        <!-- form inputs -->
        <fieldset>
            <label for="email">Email address:</label>
            <input type="email" name="email" id="email" required>
        </fieldset>
        <fieldset>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
        </fieldset>
        <fieldset>
          <button name="submit" type="sign in" id="sign in">signin</button>
        </fieldset>
        <!-- attribution -->
        <p class="copyright style=color:blue">
          Don't have an account already?
        </p>
        <a class="nav-link " routerLink="/register">Register</a>
      </form>
    </div>
  
</div>
 

