
    <div class="col-sm-12 header">
        <div class="row">
            <div class="col-sm-6">
                <h1> Easily transfer money with 
                <br>
                friends</h1>
                <p>My wallet heslps you to easily send money with friends and family</p>    
                
            </div>
        </div>
    </div>
    <div>
        <div><h1 style="color:purple;text-align:center;padding: 5px;">How it works </h1></div>
        <br>
        <br>
        <div class="container" style="display: flex;">
            <div style="width: 50%;margin-left: 0px;">
                <img src="assets/img/wallet_im.png ">
            </div>
            <div style="flex-grow: 1">
                <h1 style="color:green; text-align:center">Create an account</h1>
    
                <p1 style="color: black; text-align:center">
                nmjkjhdgfgsjkjshgerukjiajhdgsjjiikakkakajhhgiebrhyhfhhgjryilookokpkopliuijkikikikikikikikikiki
                kihihjiujtujhgshjhgsgshhskshskkshhsnsnnnsjjjsknbhakjhudgfjjnjnjnjnjnjnjnjjnjnjnbhbgvfvgfcfvfvg
                jkhjkhsgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdggbhbgfjhgdgfgjhgsgfdfgfsdghghghghghg
                hghgdfdgfsghhjakakakakakakakakakakakakakakakakakkakakakakakbhbgbgbgbgbgbgbgbgbgbgbgbgbgfgsdfdf
                hjgsjhhvgvfdfgdfgdfcgvdgfdvcgvdfgsvdfgsfvcgfdcghgsvdvfdvfdvfgsvdfcxvgxcfsdcvgscdfcfscdfcdfcsfc    
                </p1>
            </div>
        </div>
        <br>
        <br>
        <div class="container" style="display: flex;">
            <div style="width: 50%;">
                <h1 style="color: orange; text-align:center">Add beneficiaries</h1>
                <br>
                <br>
                <p style="color: black;">
                dgfgsjkjshgerukjiajhdgsjjiikakkakajhhgiebrhyhfhhgjryilookokpkopliuijkikikikikikikikikiki
                hjiujtujhgshjhgsgshhskshskkshhsnsnnnsjjjsknbhakjhudgfjjnjnjnjnjnjnjnjjnjnjnbhbgvfvgfcfvfvg
                khsgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdggbhbgfjhgdgfgjhgsgfdfgfsdghghghghghg
                dfdgfsghhjakakakakakakakakakakakakakakakakakkakakakakakbhbgbgbgbgbgbgbgbgbgbgbgbgbgfgsdfdf
                jhhvgvfdfgdfgdfcgvdgfdvcgvdfgsvdfgsfvcgfdcghgsvdvfdvfdvfgsvdfcxvgxcfsdcvgscdfcfscdfcdfcsfc   
           </p> 
            </div>
            <div>
                <br>
                <br>
                <br>
                <img src="assets/img/wallet_im.png">
            </div>
            

        </div>
        <div class="container" style="display: flex;">
            <div style="width: 50%;">
                <br>
                <br>
                <img src="assets/img/wallet_im.png">
            </div>
            <div style="flex-grow: 1">
                <br>
                <br>
                <h1 style="color: red; text-align:center">Transfer&receive payments</h1>
    
                <p style="color: black; text-align:center">
                    nmjkjhdgfgsjkjshgerukjiajhdgsjjiikakkakajhhgiebrhyhfhhgjryilookokpkopliuijkikikikikikikikikiki
                    kihihjiujtujhgshjhgsgshhskshskkshhsnsnnnsjjjsknbhakjhudgfjjnjnjnjnjnjnjnjjnjnjnbhbgvfvgfcfvfvg
                    jkhjkhsgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdgdggbhbgfjhgdgfgjhgsgfdfgfsdghghghghghg
                    hghgdfdgfsghhjakakakakakakakakakakakakakakakakakkakakakakakbhbgbgbgbgbgbgbgbgbgbgbgbgbgfgsdfdf
                    hjgsjhhvgvfdfgdfgdfcgvdgfdvcgvdfgsvdfgsfvcgfdcghgsvdvfdvfdvfgsvdfcxvgxcfsdcvgscdfcfscdfcdfcsfc    
                </p>
                <br>
                <br>
            </div>
        </div>
    </div>    
                
         
      
   
          
    
