<div class="row">
  <div class="row header">
    <div class="col-sm-6 right">
      <img class="img1"src="assets/img/Group 42.png " />
    </div>

    <div class="col-sm-6">
      <h1>
        Easily transfer money with
        friends
      </h1>
      <h2>My wallet heslps you to easily send money with 
       <br> 
        friends and family</h2>
        <br>
    </div>
  </div>

  <div>
    <div>
      <h1
        style="
          color: purple;
          text-align: center;
          padding: 5px;
          margin-top: 20px;
        "
      >
        How it works
      </h1>
    </div>
    <br />
    <br />
    <div class="container" style="display: flex">
      <div style="width: 40%; margin-left: 40px">
        <img class="img3"src="assets/img/Group 44.png " />
      </div>
      <br>
      <br>
      <div style="flex-grow: 1">
        <h1 style="color: green; text-align: center">Create an account</h1>

        <p class="pg1" style="color: black; text-align: center">
          In order to use wallet app you need to create an account with your
          email address and phone number so that it can be easy to receive and
          send money on your mobile.creating an account will make it easier
          cause you can search someone by their phone number.
        </p>
      </div>
    </div>
    <br />
    <br />
    <div class="container" style="display: flex">
      <div style="width: 50%; margin-left: 40px">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 style="color: orange; text-align: center">Add beneficiaries</h1>
        <br />
        <br />
        <p style="color: black">
          Adding beneficiary is adding someone on the list of people you do
          transfers with.you can add them or remove them from your list.
        </p>
      </div>
      <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <img src="assets/img/Mask Group 7.png" />
      </div>
    </div>
    <div class="container" style="display: flex">
      <div style="width: 50%">
        <br>
        <br>
        <br>
        <img class="img5" src="assets/img/Mask Group 2.png " />
      </div>
      <div style="flex-grow: 1">
        <br />
        <br />
        <h1 style="color: red; text-align: center; margin-bottom: 20px">
          Transfer&receive payments
        </h1>

        <p style="color: black; text-align: center">
          This allows you to transfer money anywhere and in their currency and
          they can do the same.and it will also allow you to make cashless
          payments,it is quick and safe.
        </p>
        <br />
        <br />
      </div>
    </div>
  </div>
</div>
