<div class="container-fluid d-flex">
  <div class="text-center; col-sm-6" style="background-color: #1f2041">
    <img src="assets/img/icon.png" class="img col-sm-2 h-20" />
  </div>
  <div class="col-sm-6 bg-#1f2041">
    <!-- form -->
    <form id="form" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <!-- form heading -->
      <h2 style="margin-left: 70px">Create account</h2>
      <br>    
      <br>
      <!-- form inputs -->
      <fieldset>
        <label for="Email address">Email address:</label>
        <br />
        <input type="email" name="email" id="Email" required ngModel />
      </fieldset>
      
      <fieldset>
        <label for="Last Name">Last name:</label>
        <br />
        <input type="text" name="lastname" id="Lastname" required ngModel />
      </fieldset>
      <fieldset>
        <label for="First Name">First name:</label>
        <br />

        <input type="text" name="firstname" id="Firstname" (ngModel)="firstname" required ngModel />
        <br />
        <fieldset>
          <label for="phone number">phone number:</label>
          <br />
          <input type="number" name="phonenumber" id="phonenumber" required ngModel/>
          <br />
          <fieldset>
            <label for="password">password:</label>
            <br />
            <input type="password" name="password" id="password" required ngModel />
            <br />
            <fieldset>
              <br />
              <h1 *ngFor="let user  users">{{user.name}}</h1>
              <br/>
              <button name="submit" type="submit" id="create account" >
                create account
              </button>
            </fieldset>
            <!-- attribution -->
            <a class="login-link" routerLink="/login" routerLinkActive="active-link">Have an account already?sign in </a>
          </fieldset>
        </fieldset>
      </fieldset>
    </form>
  </div>
</div>
