
<div class="container-fluid d-flex">
    <div class="col-sm-6">
      <img src="assets/img/wallet_im.png" class="col-sm-12 h-100">
    </div>
    <div class="col-sm-6 bg-primary">
      <!-- form -->
      <form id="form" action="" method="" >
        <!-- form heading -->
        <h2 style="margin-left: 20px;">Create account</h2>
        <br>
        <!-- form inputs -->
        <fieldset>
            <label for="Email address">Email address:</label>
            <br>
            <input type="Email address" name="Email address" id="Email address" required>
        </fieldset>
        
        <fieldset>
            <label for="Last Name">Last name:</label>
            <br>
            <input type="Last Name" name="Last Name" id="Last Name" required>
        </fieldset>
        <fieldset>
          <label for="First Name">First name:</label>
          <br>
          <input type="Fisrt Name" name="First Name" id="First Name" required>
        <br>
        <fieldset>
          <label for="phone number">phone number:</label>
          <br>
          <input type="phone number" name="phone number" id="phone number" required>
          <br>
          <fieldset>
            <label for="password">password:</label>
            <br>
            <input type="password" name="password" id="password" required>
            <br>
        <fieldset>
          <button name="submit" type="create account" id="create account">create account</button>
          <br>
        </fieldset>
        <!-- attribution -->
        <p class="copyright style=color:blue">
           Have an account already?
        </p>
        
      
    


