

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body styling */
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  background-color:#F6ECEC;
  color: #f6f6f6;
}
/* container styling */
.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
/* input styling */
#form button[type="Create account"],
#form input[type="email address"],
#form input[type="First Name"],
#form input[type="Last Name"],
#form input[type="phone number"],
#form input[type="password"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}
#form input[type="text"] ,
#form input[type="email"],
#form input[type="number"],
#form input[type="button"],
#form input[type="password"]
{
  width: 50%;
  border: 1px solid var(--main-color);
  background-color: rgb(237, 234, 234);
  margin-left: 125px;
  padding: 6px;
  outline: none;
  height: 30px;
}
label{
  margin-left: 125px;
}

#form button[type="button"] {
 
    cursor: pointer;
    width: 50%;
    height: 10%;
    border: none;
    background: #1f2041;
    color: white;
    margin-left: 125px;
    margin-top: 10px;
    padding: 10px;
    font-size: 15px;
}

#form h2 {
  font-size: 20px;
  font-weight: 30;
  padding-top: 60px;
  padding-left: 100px;
  
  
 
}

/* fieldset styling */
fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
.img{
  background-color: #1f2041;
  height: 70%;
  width: 80%;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 60px;
  padding-top: 210px;
  padding-bottom: 180px;
}

.login-link{
  color: blue;
  text-align: center;
  padding-left: 140px;
}

