<div class="container-fluid d-flex">
  <div class="text-center; col-sm-6" style="background-color: #1f2041">
    <img src="assets/img/icon.png" class="img col-sm-2 h-20" />
  </div>
  <div class="col-sm-6 bg-#1f2041">
    <!-- form -->
    <form id="form" action="" method="">
      <!-- form heading -->
      <h2 style="margin-left: 70px">Create account</h2>
      <br>
      <br>

      <!-- form inputs -->
      <fieldset>
        <label for="Email address">Email address:</label>
        <br />
        <input type="email" name="Email address" id="Email address" required />
      </fieldset>
      <fieldset>
        <label for="Last Name">Last name:</label>
        <br />
        <input type="text" name="Last Name" id="Last Name" required />
      </fieldset>
      <fieldset>
        <label for="First Name">First name:</label>
        <br />

        <input type="text" name="First Name" id="First Name" required />
        <br />
        <fieldset>
          <label for="phone number">phone number:</label>
          <br />
          <input type="number" name="phone number" id="phone number" required />
          <br />
          <fieldset>
            <label for="password">password:</label>
            <br />
            <input type="password" name="password" id="password" required />
            <br />
            <fieldset>
              <br />
              <button name="submit" type="button" id="create account">
                create account
              </button>
            </fieldset>
            <!-- attribution -->
            <a class="login-link" routerLink="/login"
              >Have an account?.login</a
            >
          </fieldset>
        </fieldset>
      </fieldset>
    </form>
  </div>
</div>
